.button, .button--carrito {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: red;
}

.button:hover, .button--carrito:hover {
  background-color: blue;
}

.button--carrito:hover {
  background-color: green;
}
